<div class="max-w-4xl mx-auto mt-10 px-4 text-white">
  <% if notice %>
    <p class=" text-green-400 font-medium text-center glow"><%= notice %></p>
  <% end %>
  <div class="my-6">
    <%= link_to "â† Back to Articles", articles_path,
          class: "inline-block bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 
                  hover:from-purple-600 hover:to-red-500 text-white font-semibold 
                  py-2 px-6 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300" %>
  </div>
  <% if @article.cover_image.attached? %>
    <%= image_tag url_for(@article.cover_image), alt: @article.title,
          class: "h-[50vw] w-auto mx-auto object-cover rounded-2xl mb-8 border border-white/20 shadow-lg backdrop-blur-md" %>
  <% elsif @article.cover_image.present? %>
    <%= image_tag @article.cover_image, alt: @article.title,
          class: "w-full h-full object-cover rounded-2xl mb-8 border border-white/20 shadow-lg backdrop-blur-md" %>
  <% end %>
  <h1 class="text-3xl break-words text-[#212121] font-extrabold mb-8 text-start glow">
    <%= @article.title %>
  </h1>
  <div class="prose prose-invert text-[#424242] max-w-none mb-12 mx-auto break-words whitespace-normal">
    <%= simple_format(@article.description) %>
  </div>
</div>
